# Virtual environment
weather_venv/

# IDE files
.vscode/
.idea/

# Python cache
__pycache__/
*.py[cod]

# Test cache
.pytest_cache/

# Local data
data/

# Secrets
config/secrets.yaml

# Django local database
db.sqlite3
